In [43]:
# ROLL NO. "PY02222"
# NAME : MUHAMMAD BILAL

# Q no 1
a ="Twinkle, twinkle, little star"
b ="    How I wonder what you are!"
c ="        Up above the world so high,"
d ="        Like a diamond in the sky."
e ="Twinkle, twinkle, little star,"
f ="    How I wonder what you are"
print (a)
print (b)
print (c)
print (d)
print (e)
print (f)

Twinkle, twinkle, little star
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are

In [44]:
# Q NO 2
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [45]:
# Q NO 3
import datetime
now = datetime.datetime.now()
print (now.strftime("Current date is" " %d-%m-%y " " and the time is" " %H:%M:%S "))

Current date is 04-11-19  and the time is 17:54:49

In [46]:
# Q NO 4
pie = 3.142
str_radius = input ("Entre the radius in meter : ")
radius = float(str_radius)
square_of_radius =  (radius**2)
area = pie*square_of_radius
print ("AREA OF THE CIRCLE ", area)

Entre the radius in meter : 55
AREA OF THE CIRCLE  9504.55

In [47]:
# Q NO 5
income_1 = input ("ENTRE YOUR FIRST INCOME ")
income_2 = input ("ENTRE YOUR SECOND INCOME ")
total_income = float(income_1) + float(income_2)
print ("YOUR TOTAL INCOME IS = " , total_income)

ENTRE YOUR FIRST INCOME 64747
ENTRE YOUR SECOND INCOME 89575689
YOUR TOTAL INCOME IS =  89640436.0